<%- include("header") -%>

  <!-- Render the list title in a heading -->
  <div class="box" id="heading">
    <h1>
      <%= listTitle %>
    </h1>
  </div>

  <div class="box">
    <!-- Loop through the items in the list and display each one with a checkbox -->
    <% newListItems.forEach(function(item){ %>
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
          <p>
            <%= item.name %>
          </p>
        </div>
        <input type="hidden" name="list" value="<%= listTitle %>"></input>
      </form>
      <% }) %>
        <!-- Add a form for users to enter a new item -->
        <form class="item" action="/" method="post">
          <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
          <button type="submit" name="list" value="<%= listTitle %>">+</button>
        </form>
  </div>

  <%- include("footer") -%>